@import "tailwindcss";
.btn-gradient {
  background: linear-gradient(to right, #7c3aed, #6b21a8);
}
.purple-gradient {
  background: linear-gradient(to bottom right, #f3e8ff, #e9d5ff);
}

.bg-gradient-to-r {
    --tw-gradient-position: to right in oklab;
    background-image: linear-gradient(var(--tw-gradient-stops));
}